.footer {
    display: flex;
    flex-direction: column;
    padding: 0 20px 100px 20px;
    background-color: #000000;
  }

  .main_footer_separator {
    height: 1px;
    background-color: #fafafa;
    
  }

  .footer_bottom {
    display: flex;
    flex-direction: row;      
    justify-content: space-around;  
    align-items: initial;
    background-color: #000000;
    margin-top: 100px;
  }
   
  
  .footer_bottom article {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    
  }
  .footer_bottom article:nth-child(0) {
    width: 70% !important; 
  }

  .footer_bottom article:nth-child(1) {
    width: 30% !important; 
  }
  
  .footer_bottom article h1 {
    margin: 0 auto;
    padding-left: 40px;
     
    /* width: 50%; */
    /* height: 138px; */
      /* medium 42 */
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 110%;
    color: #FFFFFF;
  }
  
  .squareFooter {
    margin-right: 40px;
    width: 70%;
    height: 350px;
    background: #5F35F7;
    /* margin: 20px; */
  }
  