.grid{
  padding-bottom: 100px;
}


.grid_container {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "a c d"
      "b c e"
      ". . .";
  }


  .a {
    grid-area: a;
    background-color: #5F35F7;
    height: 290px;
  }

  .b {
    grid-area: b;
    background-color: #5F35F7;
    height: 290px;
  }

  .c {
    grid-area: c;
    background-color: #5F35F7;
  }

  .d {
    grid-area: d;
    background-color: #5F35F7;
    height: 290px;
  }

  .e {
    grid-area: e;
    background-color: #5F35F7;
    height: 290px;
  }
