.services {
  display: flex;
  padding: 100px 20px 100px 20px;
  flex-direction: column;
  background: #000000;
  color: #FFFFFF;
}

.servicesDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.servicesDescription h1 {
  width: 50%;
  font-weight: 500;
  font-size: 32px;
  line-height: 110%;
}

.servicesDescription p {
  width: 60%;
  font-weight: 500;
  font-size: 21px;
  line-height: 160%;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;

}






.service_grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.service_grid_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: 1 / 1 / 4 / 4;
  background-color: #5F35F7;
}

.service_grid_2 {
  grid-area: 3 / 3 / 6 / 6;
  background-color: #4425B3;
  height: 430px;
}

.service_grid_2 p {
  visibility: hidden;
}


.service_grid_container {
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .services {
    display: flex;
    padding: 50px 0px 100px 0px;
    flex-direction: column;
    text-align: justify;
    background: #000000;
    color: #FFFFFF;

  }

  .servicesDescription {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .servicesDescription h1 {
    width: 100%;
  }

  .servicesDescription p {
    width: 100%;

  }


  .service_grid_container {
    display: grid;
    grid-auto-flow: row dense;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "service_grid_1"
      "service_grid_2"
      "service_grid_3";
  }

  .service_grid_1 {
    grid-area: service_grid_1;
    background-color: #5F35F7;
    height: 273px;
  }

  .service_grid_2 {
    
    grid-area: service_grid_2;
    margin: 0 auto;
    padding: 0px 10px 0px 10px;
    font-weight: 500;
    font-size: 21px;
    line-height: 160%;
    background-color: #000000;
    color: #FFFFFF;
    height: 273px;
  }

  .service_grid_2 p {
    visibility: visible;
    color: #FFFFFF;
    /* max-height: 273px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }


  .service_grid_3 {
    grid-area: service_grid_3;
    background-color: #4425B3;
    height: 273px;
  }

}