.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    color: #000000;
}

.about h1 {
    width: 40%;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 110%;
    text-align: center;

}

.about p {
    width: 60%;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 160%;
    text-align: justify;
    
}

@media (max-width: 991px) {
    .about {        
        padding: 100px 10px 100px 10px;
       
    }
    
    .about h1 {
        width: 100%;
            
    }
    
    .about p {
        width: 100%;
    }
}
